@charset "utf-8";
/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
	margin: 0;
	padding: 0;
	border-spacing: 0px !important;
	/* [disabled]border-collapse:0px; */
	outline: medium;
	word-break: break-word;
	border: none;
}

*{ font-family:"Microsoft YaHei UI","Microsoft YaHei","寰蒋闆呴粦","WenQuanYi Micro Hei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;}

/*A*/
a{
  text-decoration:none;
}
a:hover{
	text-decoration:none;
}
/*img*/
img{ border:0 none; vertical-align:top;}
/*li*/
ul,li{list-style-type:none;}
/*浮动*/
.fl{
	float:left;
	display:inline;
}
.fr{
	float:right;
	display:inline;
}
.clr:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	line-height: 0;
}
.clr {
	zoom: 1;
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
appearance: none;
-moz-appearance: none;
}
select{
	-webkit-appearance: none;
appearance: none;
-moz-appearance: none;
}
img{border:0;padding:0;margin:0;}
a{blr:expression(this.onFocus=this.close());}
a{blr:expression(this.onFocus=this.blur());}
a:focus { -moz-outline-style: none; }
a:focus { outline: none; }
.hide{display:none;}
.txt-center{text-align:center;}
